@model AOMMembers.Web.ViewModels.Interests.InterestDeleteModel

@{
    ViewData["Title"] = "Изтрий описанието на интереса си";
}

<h1>@this.ViewData["Title"]</h1>

<h3>Сигурни ли сте, че искате да изтриете това?</h3>
<div>
    <h4>Интерес</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Worldview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Worldview.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedOn)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
    
    <form asp-action="Delete" metod="POST">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.Id">Обратно към интереса</a>
    </form>
</div>
