@model AOMMembers.Web.ViewModels.SocietyHelps.SocietyHelpDetailsViewModel

@{
    ViewData["Title"] = "Детайли за приноса към обществото";
}

<h1>@this.ViewData["Title"]</h1>

<div>
    <h4>Принос към обществото</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventLink)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Citizen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Citizen.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedOn)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Citizens" asp-action="Index" asp-route-id="@Model.CitizenId">Виж гражданските данни</a> | 
    <a asp-action="Index" asp-route-id="@Model.Id">Обратно към приноса към обществото</a>
                    @if (this.User.IsInRole(GlobalConstants.MemberRoleName) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        @: | 
                        <a asp-action="Edit" asp-route-id="@Model.Id">Редактирай</a> @: | 
                        <a asp-action="Delete" asp-route-id="@Model.Id">Изтрий</a>
                    }
</div>