@model IEnumerable<AOMMembers.Web.ViewModels.Educations.EducationViewModel>

@{
    ViewData["Title"] = "Образование";
}

<h1>@this.ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CVLink)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CitizenId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.QualificationsCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CVLink)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CitizenId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.QualificationsCount)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Виж детайли</a>
                    @if (this.User.IsInRole(GlobalConstants.MemberRoleName) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        @: | 
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> @: | 
                        <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
