@model AOMMembers.Web.ViewModels.LawProblems.LawProblemDetailsViewModel

@{
    ViewData["Title"] = "Детайли за проблема с правораздавателните органи";
}

<h1>@this.ViewData["Title"]</h1>

<div>
    <h4>Проблем с правораздавателните органи</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LawProblemLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LawProblemLink)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LawState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LawState.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedOn)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="LawStates" asp-action="Index" asp-route-id="@Model.LawStateId">Виж състоянието на отношенията с правораздавателните органи</a> | 
    <a asp-action="Index" asp-route-id="@Model.Id">Обратно към проблема с правораздавателните органи</a>
                    @if (this.User.IsInRole(GlobalConstants.MemberRoleName) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        @: | 
                        <a asp-action="Edit" asp-route-id="@Model.Id">Редактирай</a> @: | 
                        <a asp-action="Delete" asp-route-id="@Model.Id">Изтрий</a>
                    }
</div>
