@model AOMMembers.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Брой на регистрираните елементи";
}

<h1>@this.ViewData["Title"]</h1>
<div>    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUsersCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUsersCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MembersCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MembersCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CitizensCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CitizensCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualificationsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualificationsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CareersCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CareersCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkPositionsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkPositionsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelationshipsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationshipsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartyPositionsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartyPositionsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartyMembershipsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartyMembershipsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialStatesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialStatesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicImagesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicImagesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediaMaterialsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediaMaterialsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LawStatesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LawStatesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LawProblemsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LawProblemsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocietyHelpsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocietyHelpsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocietyActivitiesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocietyActivitiesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorldviewsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorldviewsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterestsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterestsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SettingsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SettingsCount)
        </dd>
    </dl>
</div>